<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>palautelomake</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>

    <h1>palautelomake</h1>
    <form method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required />
        
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
        
        <label for="feedback">Feedback</label>
        <textarea name="feedback" id="feedback" required></textarea>
        
        <button type="submit">Lähetä palaute</button>
    </form>

  </body>
</html>
